.typewriter-text {
  font-family: 'Helvetica Neue', 'Helvetica Now Display', 'Helvetica', -apple-system, BlinkMacSystemFont, 'Arial', sans-serif;
  font-size: 10rem;
  color: black;
  text-align: center;
  font-weight: 300;
  letter-spacing: -0.02em;
  margin: 0;
  margin-bottom: 6rem;
  line-height: 1.2;
}

.typewriter-prefix {
  font-weight: 300;
}

.typewriter-bold {
  font-weight: 700;
}

.typewriter-cursor {
  display: inline-block;
  width: 3px;
  height: 1em;
  background-color: black;
  margin-left: 0.2em;
  vertical-align: baseline;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .typewriter-text {
    font-size: 5rem;
    margin-bottom: 5rem;
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .typewriter-text {
    font-size: 3rem;
    margin-bottom: 4rem;
    padding: 0 1rem;
    line-height: 1.1;
  }
  
  .typewriter-cursor {
    width: 2px;
  }
}

