* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  cursor: none;
}

* {
  cursor: none !important;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

::selection {
  background-color: #178bff;
  color: white;
}

::-moz-selection {
  background-color: #178bff;
  color: white;
}

